
& .MuiDialog-paper {
    border-radius: 12px !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3) !important;
    max-height: 95vh;
    margin: auto;
    background-color: #caf0f8 !important;
    padding-top: 10px;
}
